<div id="bet-pannel">
    <div id="black-block" class="black-block">
        <div id="black-block-header">
            <h3>2×</h3>
            <div id="black-header-bet-value">
            </div>
        </div>
    </div>
    <div id="red-block" class="red-block">
        <div id="red-block-header">
            <h3>3×</h3>
            <div id="red-header-bet-value">
            </div>
        </div>
    </div>
    <div id="blue-block" class="blue-block">
        <div id="blue-block-header">
            <h3>5×</h3>
            <div id="blue-header-bet-value">
            </div>
        </div>
    </div>
    <div id="gold-block" class="gold-block">
        <div id="gold-block-header">
            <h3>50×</h3>
            <div id="gold-header-bet-value">
            </div>
        </div>
    </div>
</div>