{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function () {
        var csrf = $('input[name=csrfmiddlewaretoken]').val();

        $('#max-btn').click(function () {
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            document.getElementById('input-bet-value').value = t;
        })

        $('#c-btn').click(function () {
            document.getElementById('input-bet-value').value = '';
        })

        $('#half-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) / 2;
            document.getElementById('input-bet-value').value = t;
        })

        $('#multi-double-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) * 2;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-hundred-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 100;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-thousand-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 1000;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-ten-thousand-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 10000;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-hundred-thousand-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 100000;
            document.getElementById('input-bet-value').value = t;
        })



        setInterval(function () {
            $.ajax({
                url: '{% url "roulette_main_page" %}',
                type: 'get',
                success: function (response) {
                    document.getElementById('random').innerHTML = '';
                    $('#random').append(response.result);
                    document.getElementById('balance').innerHTML = 'Balance: ' + response.after_bet_balance + '₴';
                    document.getElementById('nav-balance').innerHTML = response.after_bet_balance + '₴';
                    document.getElementById('black-header-bet-value').innerHTML = ' ';
                    document.getElementById('red-header-bet-value').innerHTML = ' ';
                    document.getElementById('blue-header-bet-value').innerHTML = ' ';
                    document.getElementById('gold-header-bet-value').innerHTML = ' ';

                }
            });
        }, 12000);


        $('#black-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            var random_color = document.getElementById('random').innerText;
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'BLACK',
                            csrfmiddlewaretoken: csrf,
                            random_color: random_color,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('black-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            };
        });

        $('#red-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'RED',
                            csrfmiddlewaretoken: csrf,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('red-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            }
        });

        $('#blue-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'BLUE',
                            csrfmiddlewaretoken: csrf,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('blue-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            }
        });

        $('#gold-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'GOLD',
                            csrfmiddlewaretoken: csrf,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('gold-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            }
        });
    });
</script>


<div id="last-bets-panel">
    {% for item in last_bets %}
    <div id="last-bet-main-page-table">
        <div id="last-bet-main-color">{{ item.user.profile.nickname}} - {{ item.color }}</div>
        <div id="last-bet-main-value">BET: {{ item.bet_value }}₴</div>
        <div id="last-win-main-value">
            {% if item.win_value %}
            <div id="win-main" style="color: #00ff00">WIN: {{ item.win_value }}₴</div>
            {% else %}
            <div id="loss-main" style="color: #ba2121">LOSS</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div id="bet-block-card">
            {% csrf_token %}
            {% include 'inc/_input_bet_panel.html' %}
        </div>

        <div id="roulette-window-pannel">

            <div id="random">
                BET AND WAIT 12 SECONDS
            </div>
            <div id="timer">

            </div>
        </div>
    </div>
    {% include 'inc/_bet_panel.html' %}

</div>

{% endblock %}
