{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function () {
        var csrf = $('input[name=csrfmiddlewaretoken]').val();

        $('#max-btn').click(function () {
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            document.getElementById('input-bet-value').value = t;
        })

        $('#c-btn').click(function () {
            document.getElementById('input-bet-value').value = '';
        })

        $('#half-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) / 2;
            document.getElementById('input-bet-value').value = t;
        })

        $('#multi-double-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) * 2;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-hundred-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 100;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-thousand-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 1000;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-ten-thousand-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 10000;
            document.getElementById('input-bet-value').value = t;
        })
        $('#add-hundred-thousand-btn').click(function () {
            let t = document.getElementById('input-bet-value').value;
            t = Number(t) + 100000;
            document.getElementById('input-bet-value').value = t;
        })



        setInterval(function () {
            $.ajax({
                url: '{% url "roulette_main_page" %}',
                type: 'get',
                success: function (response) {
                    document.getElementById('random').innerHTML = '';
                    $('#random').append(response.result);
                    document.getElementById('balance').innerHTML = 'Balance: ' + response.after_bet_balance + '₴';
                    document.getElementById('nav-balance').innerHTML = response.after_bet_balance + '₴';
                    document.getElementById('black-header-bet-value').innerHTML = ' ';
                    document.getElementById('red-header-bet-value').innerHTML = ' ';
                    document.getElementById('blue-header-bet-value').innerHTML = ' ';
                    document.getElementById('gold-header-bet-value').innerHTML = ' ';

                }
            });
        }, 12000);


        $('#black-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            var random_color = document.getElementById('random').innerText;
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'BLACK',
                            csrfmiddlewaretoken: csrf,
                            random_color: random_color,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('black-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            };
        });

        $('#red-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'RED',
                            csrfmiddlewaretoken: csrf,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('red-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            }
        });

        $('#blue-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'BLUE',
                            csrfmiddlewaretoken: csrf,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('blue-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            }
        });

        $('#gold-block-header').on('click', function () {
            var amount = $('input[name=amount-value]').val();
            let t = document.getElementById('nav-balance').innerText.replace('₴', '');
            if (Number(amount) > 0) {
                if (Number(amount) <= Number(t)) {
                    $.ajax({
                        url: '{% url "roulette_main_page" %}',
                        type: 'post',
                        data: {
                            amount_value: amount,
                            color: 'GOLD',
                            csrfmiddlewaretoken: csrf,
                        },
                        success: function (response) {
                            document.getElementById('balance').innerHTML = 'Balance: ' + response.new_balance + '₴';
                            document.getElementById('nav-balance').innerHTML = response.new_balance + '₴';
                            document.getElementById('gold-header-bet-value').innerHTML = response.amount_value;
                        }
                    })
                }
            }
        });
    });
</script>



<div class="container">
    <div class="row">

        <div id="bet-block-card">
            {% csrf_token %}
            <div id="input-bet-value-card">
                <div id="balance">
                    Balance: {{ request.user.profile.balance }}₴
                </div>
                <h4>Enter bet amount:</h4>
                <input type="text" id="input-bet-value" name="amount-value" class="form-control form-control-sm">
                <div id="buttons-control-input">
                    <div id="upper-control">
                        <button type="button" id="half-btn" class="btn btn-primary btn-sm">½</button>
                        <button type="button" id="multi-double-btn" class="btn btn-primary btn-sm">2×</button>
                        <button type="button" id="add-hundred-btn" class="btn btn-primary btn-sm">+100</button>
                        <button type="button" id="add-thousand-btn" class="btn btn-primary btn-sm">+1K</button>
                        <button type="button" id="add-ten-thousand-btn" class="btn btn-primary btn-sm">+10K</button>
                        <button type="button" id="add-hundred-thousand-btn" class="btn btn-primary btn-sm">+100K</button>
                    </div>
                    <div id="lower-control">
                        <button type="button" id="max-btn" class="btn btn-primary btn-sm">MAX</button>
                        <button type="button" id="c-btn" class="btn btn-primary btn-sm">C</button>
                    </div>
                </div>
            </div>

        </div>



        <div id="roulette-window-pannel">

            <div id="random">
                WAIT 12 SECONDS
            </div>
            <div id="timer">

            </div>
        </div>
    </div>


    <div id="bet-pannel">
        <div id="black-block" class="black-block">
            <div id="black-block-header">
                <h3>2×</h3>
                <div id="black-header-bet-value">

                </div>
            </div>
        </div>
        <div id="red-block" class="red-block">
            <div id="red-block-header">
                <h3>3×</h3>
                <div id="red-header-bet-value">

                </div>
            </div>
        </div>
        <div id="blue-block" class="blue-block">
            <div id="blue-block-header">
                <h3>5×</h3>
                <div id="blue-header-bet-value">

                </div>
            </div>
        </div>
        <div id="gold-block" class="gold-block">
            <div id="gold-block-header">
                <h3>50×</h3>
                <div id="gold-header-bet-value">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
